$dark-1: #131313;
$dark-2: rgb(28, 28, 28);

$gradient-1: #FFFFFF 30%, #496E6C;
$gradient-2: #D6EDEB -50%, #5B6D6C;
$gradient-3: #0F6469, #0E3B3E, #8ED2D7;
$gradient-4: #8EDFEA, #218787;
$gradient-5: #FFFFFF, #5E5E5E;
$gradient-6: #AFC650, #1F90A8 30%, #41B883 80%;
$gradient-7: #41B883, rgba(224, 240, 233, 0.47), #1D523A;
$gradient-8: #A5C255, rgba(248, 255, 227, 0.31), #CADC95;
$gradient-9: #1A87C5, rgba(199, 215, 224, 0.58), #0C415F;
$gradient-10: #7183FF, #EBEEFF 60%;