$dark-1: #131313;
$dark-2: #1C1C1C;

$gradient-1: #FFFFFF 30%, #496E6C;
$gradient-2: #D6EDEB -50%, #5B6D6C;
$gradient-3: #0F6469, #0E3B3E, #8ED2D7;
$gradient-4: #8EDFEA, #218787;
$gradient-5: #FFFFFF, #5E5E5E;
$gradient-6: #4EC1FF, #FFCF27, #8E71FF;